@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: lightslategray;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
}

.left-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.right-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 20px;
}