/* Add CSS Styling */

.btn1 {
    background-color: black;
    color: white;
}

.btn2 {
    background-color: yellow;
}

button {
    font-size: 26px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}